<!doctype html>
<html>
<head>
  <title>LingoRank Tesla's Difficulty Prediction</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center; color: #3f7320;"> Big Scale Analytics</h1>
                <hr>
                <h1>Group Tesla</h1>
                <h4>Enter a french sentence and you will get a prediction of it's difficulty !</h4>
                <form action={{ url_for("root")}} method="POST">
                    <textarea name="textinput" cols="40" rows="4">Type your text here...</textarea>
                    <br>
                    <input type = "submit" value = "Submit" />
                </form>
            </div>
            <p>{{result}}</p>
        </div>
    </div>
</body>
</html>
